fastapi
uvicorn
python-dotenv
langchain-core
langchain-community
langchain-groq
faiss-cpu
sentence-transformers
unstructured
pydantic
pydantic_settings
nltk
python-multipart
langchain
langchain-huggingface
